<%= form_with model: @catalog_item,
    class: 'catalog-item-form',
    remote: true do |f|
%>
    <div class='upper'>
        <div class='description'>Создание карточки</div>
        <div class='close'
             data-action='click->new-catalog-item#close'
            
        >
        ✖
        </div>
    </div>
    <%= f.text_field :name, placeholder: 'Имя' %>
    <%= f.text_field :address, placeholder: 'Адрес' %>
    <%= f.text_field :phone, placeholder: 'Телефон' %>
    <%= f.text_field :shedule, placeholder: 'Время работы' %>
    <%= f.text_field :email, placeholder: 'Почта' %>
    <%= f.text_field :site, placeholder: 'Сайт' %>
    <%= f.text_area :info, placeholder: 'Дополнительная информация' %>
    <%= f.file_field :images,
        accept: 'image/png,image/jpeg',
        class: 'images-upload',
        data: {
            action: 'change->image-uploader#selectFile',
            target: 'image-uploader.select'
        } 
    %>
    <%= f.submit class: 'catalog-item-btn',
        value: 'Создать',
        data: {
            disable_with: 'Загрузка'
        }
    %>
<% end %>