<div id="form-wrapper">
    <%= form_for(:session, url: login_path) do |f| %>
        <%= render 'shared/flash_messages', attribute: 'error' %>
        <%= render 'shared/flash_messages', attribute: 'warning' %>
        <div id="form-data">
            <%= f.email_field :email, placeholder: 'Почта' %>
            <%= f.password_field :password, placeholder: 'Пароль' %>
        </div>
        <div id="form-options">
            <div><%= check_box_tag 'remember' %><%= label_tag "Запомнить?" %></div>
            <%= link_to 'Забыли пароль?' %>
        </div>
        <%= f.submit "Войти", id: "form-btn" %>
    <% end %>
</div>