<div class="comment-tree" id="comment-<%= comment.id %>" data-controller="comment">
    <div class="comment-body">
        <div class="comment-info">Ⓐ <%= link_to comment.user.name, comment.user, class: "comment-user" %> <%= time_ago_in_words(comment.created_at) %> назад</div>
        <div class="comment-content"><%= run_rinku(sanitize(comment.content)) %></div>     
        <div class="comment-options">
            <%= link_to 'Ⓟ', 
                edit_polymorphic_path([comment.commentable, comment]), 
                remote: true,
                data: { 
                    :disable_with => '⌛',
                    :action => 'ajax:success->comment#editCommentForm', 
                    :type => 'html'
                } 
            %>
            <%= link_to 'ⓨ', 
                [comment.commentable, comment], 
                method: :delete,  
                remote: true,
                data: { 
                    :disable_with => '⌛',
                    :confirm => 'Вы уверены?',
                    :action => "ajax:success->#{comment.commentable.class.to_s.downcase}#{comment.parent_id.nil? ? "#deleteComment" : "#deleteReply"}"
                } 
            %>
            <%= link_to 'Ⓞ', 
                polymorphic_path([:reply, comment.commentable, comment]),  
                remote: true,
                data: { 
                    :disable_with => '⌛', 
                    :action => 'ajax:success->comment#replyCommentForm', 
                    :type => 'html'
                }
            %>
            <%= hidden_field_tag :comment_link, "/posts/#{comment.commentable.id}/comments/#{comment.id}" %>
        </div>
    </div>
    <div data-target="comment.form" data-form="closed"></div>
    <div data-target="comment.replies" data-replies=<%= comment.replies.any? %> >
        <% if comment.replies.any? %>
            <ul class="comments-replies">
                <%= render :partial => "comments/comment", 
                    :collection => comment.replies, 
                    :as => :comment, 
                    spacer_template: "comments/comment_spacer" 
                %>
            </ul>
        <% end %>
    </div>
</div>