<%= form_with model: [comment.commentable, comment], 
              class: "comment-form",
              data: { 
                  :action => "ajax:success->#{ content_for?(:form_controller_action) ? yield(:form_controller_action) : "post#createComment" }
                              ajax:error->#{(comment.parent_id.nil? && comment.id.nil?) ? (comment.commentable.class.to_s.downcase + "#addCommentError") : "comment#addError" }",
                  :type => 'html'
              }, 
              remote: true do |f| 
%>
    <%= f.hidden_field :parent_id %>
    <input id="<%= f.object.commentable.class.to_s.downcase %>-<%= f.object.commentable.id %><%= f.object.parent_id.nil? ? '-new' : "-parent-#{f.object.parent_id}" %>" type="hidden" name="comment[content]">
    <trix-editor id="comment_content"
                 class="trix-content"
                 placeholder="<%= f.object.parent_id.nil? ? 'Напишите комментарий...' : 'Напишите ответ...' %>"
                 input="<%= f.object.commentable.class.to_s.downcase %>-<%= f.object.commentable.id %><%= f.object.parent_id.nil? ? '-new' : "-parent-#{f.object.parent_id}" %>"
    >
    </trix-editor>
    <div class="comment-options">
        <%= f.submit class: 'comment-btn', 
                     data: { disable_with: 'Загрузка' }, 
                     value: content_for?(:edit_btn_text) ? yield(:edit_btn_text) : (f.object.parent_id.nil? ? 'Отправить' : 'Ответить')
        %>
        <span <% if f.object.parent_id.nil? && f.object.id.nil? %>
                    data-action="click-><%= comment.commentable.class.to_s.downcase %>#deleteCommentForm">
                <% else %>
                    data-action="click->comment#deleteCommentForm">
                <% end %>
        ✖</span>
    </div>
<% end %>

  