<%= form_with model: [comment.commentable, comment], 
              class: "comment-form",
              data: { 
                  :action => "ajax:success->#{ content_for?(:form_controller_action) ? yield(:form_controller_action) : "post#createComment" }", 
                  :type => 'html'
              }, 
              remote: true do |f| 
%>
    <%= f.hidden_field :parent_id %>
    <%= f.rich_text_area :content, 
        label: false, 
        placeholder: (f.object.parent_id.nil? ? 'Напишите комментарий...' : 'Напишите ответ...') 
    %>
    <div class="comment-options">
        <%= f.submit class: 'comment-btn', 
                     data: { disable_with: 'Загрузка' }, 
                     value: (f.object.parent_id.nil? ? 'Создать комментарий' : 'Ответить')  
        %>
        <span <% if f.object.parent_id.nil? && f.object.id.nil? %>
                    data-action="click-><%= comment.commentable.class.to_s.downcase %>#deleteCommentForm">
                <% else %>
                    data-action="click->comment#deleteCommentForm">
                <% end %>
        ✖</span>
    </div>
<% end %>

  