<div class="likes-wrapper">

    <% if likeable.like?(current_user, true) %>

        <span class='likes-voted-true'>
            <%= link_to '↑', polymorphic_path([likeable, likeable.get_like(current_user)]), method: :delete, remote: true %>
        </span> 

    <% elsif likeable.like?(current_user, false) %>

        <span>
            <%= link_to '↑', polymorphic_path([likeable, likeable.get_like(current_user)], like: { :vote => true }), method: :patch, remote: true %>
        </span>
        
    <% else %>

        <span>
            <%= link_to '↑', post_likes_path(likeable, like: {:vote => true}), method: :post, remote: true %>
        </span>

    <% end %>
    
    <span>
        <%= likeable.count_likes %>
    </span>

    <% if likeable.like?(current_user, false) %>

        <span class='likes-voted-false'>
            <%= link_to '↓', polymorphic_path([likeable, likeable.get_like(current_user)]), method: :delete, remote: true %>
        </span> 

    <% elsif likeable.like?(current_user, true) %>

        <span>
            <%= link_to '↓', polymorphic_path([likeable, likeable.get_like(current_user)], like: { :vote => false }), method: :patch, remote: true %>
        </span>

    <% else %>

        <span>
            <%= link_to '↓', post_likes_path(likeable, like: { :vote => false }), method: :post, remote: true %>
        </span>

    <% end %>
    
</div>


  