<%= form_with model: @user, 
    data: {
        action: 'ajax:success->popup#addError',
        type: 'html',
    },
    remote: true do |f| 
%>
    <div class="content">
        <div class='upper'>
            <div class="description">Регистрация на NG</div>
            <span class="close-form" data-action="click->popup#clear">×</span>
        </div>
        <div class="user-new-avatar-wrapper" data-controller="avatar-uploader">
            <img class="template-avatar" src="" data-target="avatar-uploader.template"/>
            <label for="user_avatar" class="upload-btn"><span>ЗАГРУЗИТЬ</span></label>
            <%= f.file_field :avatar, 
                accept: 'image/png,image/jpeg', 
                class: 'user-avatar-upload',
                data: {
                    action: 'change->avatar-uploader#processFile'
                }
            %>
        </div>
        <div data-target="popup.errors"></div>
        <div class="form-data">
            <%= f.text_field :name, placeholder: 'Имя' %>
            <%= f.email_field :email, placeholder: 'Почта' %>
            <%= f.password_field :password, placeholder: 'Пароль' %>
            <%= f.password_field :password_confirmation, placeholder: 'Подтверждение пароля' %>
        </div>

        <%= f.submit yield(:button_text), class: 'user-form-btn' %>
    </div>
<% end %>