<%= form_for(@user) do |f| %>
    
    <div id="form-avatar"><span>Avatar</span></div>
    <div id="form-data">
        <div>
            <%= f.text_field :name, placeholder: 'Имя' %>
            <%= render 'shared/error_messages', object: @user, attribute: 'name' %>
        </div>
        <div>
            <%= f.email_field :email, placeholder: 'Почта' %>
            <%= render 'shared/error_messages', object: @user, attribute: 'email' %>
        </div>
        <div>
            <%= f.password_field :password, placeholder: 'Пароль' %>
            <%= render 'shared/error_messages', object: @user, attribute: 'password' %>
        </div>
        <div>
            <%= f.password_field :password_confirmation, placeholder: 'Подтверждение пароля' %>
            <%= render 'shared/error_messages', object: @user, attribute: 'password_confirmation' %>
        </div>
    </div>
    <div id="form-options">
        <div class="checkbox">
            <%= label_tag "Запомнить?" %>
            <%= check_box_tag 'remember' %>
        </div>
        <%= link_to 'Забыли пароль?' %>
    </div>
    <%= f.submit yield(:button_text), id: 'form-btn' %>
<% end %>