<div class="post-wrapper" id="post-<%= comment.commentable.id %>">
    <div class="post-main-wrapper">
        <div class="post-info-tags-wrapper">
            <div class="post-info-wrapper">A <%= comment.commentable.user.name %>, <%= time_ago_in_words(comment.commentable.created_at) %> назад</div> 
            <% if comment.commentable.tags.any? %>
                <div class="post-tags-wrapper"><% comment.commentable.tags.each do |tag| %><%= link_to "##{tag.name}", tag %><% end %></div> 
            <% end %>
        </div>
        <div class="post-likes-content-wrapper">
            <%= render 'likes/post_likes', likeable: comment.commentable %>
            <div class="post-content-wrapper"><%= comment.commentable.content %></div>
        </div>
        <div class="post-options-wrapper">
            <%= link_to "Р", edit_post_path(comment.commentable.id) %> 
            <%= link_to "У", comment.commentable ,:method => :delete, data: { :confirm => 'Вы уверены?' } %> 
            <%= link_to "K", new_post_comment_path(comment.commentable.id), class: 'post-comment-create-link', remote: true %>
        </div>
    </div>
    <div class="post-comment-tree" id="post_comment_<%= comment.id %>">
        <div class="post-comment-body">
            <div class="post-comment-info"><%= link_to comment.user.name, comment.user, class: "post-comment-user" %> <%= time_ago_in_words(comment.created_at) %> назад</div>
            <div class="post-comment-content"><%= comment.content %></div>      
            <div class="post-comment-options">
                <%= link_to "Редактировать", edit_polymorphic_path([comment.commentable, comment]), class: 'post-comment-edit-link', data: { disable_with: '⌛' }, remote: true %>
                <%= link_to "Удалить", [comment.commentable, comment], method: :delete, class: 'post-comment-delete-link', data: { disable_with: '⌛' , confirm: 'Вы уверены?' }, remote: true %>
                <%= link_to "Ответить", polymorphic_path([:reply, comment.commentable, comment]), class: 'post-comment-create-link', data: { disable_with: '⌛' }, remote: true %>
                <%= hidden_field_tag :comment_link, "/posts/#{comment.commentable.id}/comments/#{comment.id}" %>
            </div>
        </div>
        <% if comment.replies.any? %>
            <ul class="post-comments-replies">
                <%= render :partial => "comments/comment", :collection => comment.replies, :as => :comment %>
            </ul>
        <% end %>
    </div>
</div>


