<div id="form-wrapper">
    <%= form_for(@user) do |f| %>
        <div id="form-data">
            <%= f.text_field :name, placeholder: 'Имя' %>
            <%= f.email_field :email, placeholder: 'Почта' %>
            <%= f.password_field :password, placeholder: 'Пароль' %>
            <%= f.password_field :password_confirmation, placeholder: 'Подтверждение пароля' %>
        </div>
        <%= f.submit "Обновить", id: 'session-form-btn'%>
    <% end %>    
</div>

