<%= form_for(@post) do |f| %>
    <div id="post-form-tags-all">
        <% @tags.each do |tag| %>
            <span id=<%= "#{tag.id}" %>><%= "##{tag.name}" %></span>
        <% end %>
    </div>
    <div id="post-form-tags-active">
        <% @post.tags.each do |tag| %>
            <span id=<%= "#{tag.id}" %>><%= "##{tag.name}" %></span>
        <% end %>
    </div>
    <%= hidden_field_tag 'post_tags_active', "" %>
    <%= f.rich_text_area :content, 
        placeholder: "Напишите сообщение...", 
        maxlength: '600', 
        class: 'post-form-content' 
    %>
    <%= render 'shared/error_messages', 
        object: @post, 
        attribute: 'content' 
    %>
    <%= f.submit yield(:button_text), id: "form-btn" %>  
<% end %>