<%= form_with model: @post, 
    data: {
        controller: 'process-post',
        action: 'ajax:error->process-post#addError',
    },
    remote: true do |f| %>
    <div data-controller='sections' class='post-sections'>
        <span data-action='click->sections#change' data-open='false' data-target="sections.btn">Раздел</span>
        <div class='sections-dropdown' data-target='sections.menu'>
            <ul>
                <li data-action="click->sections#removeSection">Без раздела</li>
                <%= render partial: 'sections/sections_form', collection: @sections, as: :section %>
            </ul>
        </div>
        <%= hidden_field_tag :section, '', data: { target: "sections.id "} %>
    </div>

    <%= f.rich_text_area :content, placeholder: 'Напишите сообщение...', data: { controller: 'trix-upload-image' } %>
    <%= f.submit yield(:button_text), id: "post-btn" %> 
<% end %>

