<div class="post-wrapper" data-controller="post" id="post-<%= post.id %>">
    <div class="post-main-wrapper">
        <div class="post-info-section-wrapper">
            <div class="post-info-wrapper">Ⓐ <%= link_to post.user.name, post.user, class: "post-user" %>, <%= time_ago_in_words(post.created_at) %> назад</div> 
            <% unless post.section.nil? %>
                <div class="post-section"><%= link_to "#{post.section.name}", section_path(post.section), class: "section-#{post.section.id}" %></div>
            <% end %> 
        </div>
        <div class="post-content-wrapper"><%= run_rinku(post.content) %></div>
        <div class="post-options-likes-wrapper">
            <div class="post-options-wrapper">
                <%= link_to "Ⓟ", edit_post_path(post.id), remote: true %> 
                <%= link_to "ⓨ", post , :method => :delete, data: { :confirm => 'Вы уверены?' }, remote: true %> 
                <%= link_to "Ⓚ", 
                    new_post_comment_path(post.id), 
                    remote: true,
                    data: { 
                        :action => "ajax:success->post#createCommentForm", 
                        :type => "html"
                    }
                %>
            </div>
            <%= render 'likes/like', likeable: post %>
        </div>
    </div>
    <div data-target="post.comments" data-comments=<%= post.comments.any? %> >
        <% if post.comments.any? %>
            <%= render 'comments/comments', commentable: post %>
        <% end %>
    </div>
    <div data-target="post.form" data-form=<%= post.comments.any? ? "open" : "closed" %> >
        <% if post.comments.any? %>
            <%= render template: 'comments/new', object: @new_comment = post.comments.build %>
        <% end %>
    </div>
</div>

