<header id="header">
    <span>LOGO</span>
    <nav id="navigation">
        <%= link_to "Главная" %>
        <%= link_to "Новости", controller: 'articles', action: 'index' %>
        <%= link_to "Посты", controller: 'posts', action: 'index' %>
        <%= link_to "Справочник" %>
    </nav>
    <div id="add-section">
        <div><%= link_to 'Новая запись', new_post_path %></div>
    </div>
    <div id="account">
        <p>Аккаунт</p>
    </div>
</header>