<!DOCTYPE html>

<html>

    <head>

        <title>NG</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

    <body>

        <div id="common">

            <%= render 'layouts/header' %>

              <main id="main">

                  <%= render 'layouts/menu' %>

                  <div id="content"><%= yield %></div>

                  <%= render 'layouts/chat' %>
                
              </main>

        </div>

    </body>

</html>
